<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MemberMapper">

   <insert id="join" parameterType="com.smhrd.model.Member">
    INSERT INTO members (mb_email, mb_pw, mb_name, mb_addr, mb_phone, mb_birthdate, mb_nick, joined_at, mb_type) 
    VALUES (#{mb_Email}, #{mb_Pw}, #{mb_Name}, #{mb_Addr}, #{mb_Phone}, #{mb_Birthdate}, #{mb_Nick}, sysdate, #{mb_Type})
   </insert>


<select id="login"  parameterType="com.smhrd.model.Member" resultType="com.smhrd.model.Member">
	select * from members where mb_email=#{mb_Email} and mb_pw=#{mb_Pw}
</select>



</mapper>